/*Анимация*/

@keyframes page-animation{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
/*CSS свойства всех страниц*/
body
{
	height: 100vh;
	margin: 0;
	/*background: #2A4480;*/
	background: #333333;
	font-size: 10px;
}

.wrapper
{
	position: relative;
	margin: auto;
	margin-top: 5px;
	width: 496px;
	height: 702px;
	box-sizing: border-box;
	border: 1px solid white;
	background: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(126, 126, 126, 0.15);
-moz-box-shadow: 0px 0px 5px 0px rgba(126, 126, 126, 0.15);
box-shadow: 0px 0px 5px 0px rgba(126, 126, 126, 0.15);
}

.container {
	margin: 22px 22px;
}

/*содержание*/

.hidden_menu {
	display: block;
	position: fixed;
	overflow: auto;
	width: 300px;
	background-color: rgb(21, 34, 64);
	height: 100%;
	top: 0;
	left: -300px;
	transition: left .2s;
	z-index: 2;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.hidden_menu > ul{
	padding: 10px 10px 10px 10px;
	margin: 0;
	box-sizing: border-box;
	/*list-style: decimal;*/

}

.hidden_menu li {
    list-style: none;
    padding: 0;
	margin: 5px 0;
	font-size: 14px;
	transition-duration: 0.3s;
    text-decoration: none;
    color: #efedef;
}

.hidden_menu li:hover {
    transition-duration: 0.3s;
	color: #ceccce;
	cursor: pointer;
}

.hidden_menu_ticker {
	display: none;
}

.btn_menu {
	color: #fff;
	background: rgba(42, 68, 128, 0.5);
	padding: 5px;
	position: fixed;
	top: 5px;
	left: 5px;
	cursor: pointer;
	transition: left .23s;
	z-index: 3;
	width: 20px;
	transform: translateZ(0);
	backface-visibility: hidden;
}

.btn_menu span {
	display: block;
	height: 2px;
	background: #fff;
	margin: 5px 0 0;
	transition: all .1s linear .23s;
	position: relative;
}

.btn_menu span.first {
	margin-top: 0;
}

.hidden_menu_ticker:checked ~ .btn_menu {
	background: transparent;
	left: 265px;
}

.hidden_menu_ticker:checked ~ .hidden_menu {
	left: 0;
}

.hidden_menu_ticker:checked ~ .btn_menu span.first {
	transform: rotate(45deg);
	top: 7px;
}

.hidden_menu_ticker:checked ~ .btn_menu span.second {
	opacity: 0;
}

.hidden_menu_ticker:checked ~ .btn_menu span.third {
	transform: rotate(-45deg);
	top: -7px;
}

span.page_num {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

p {
	padding: 0;
	margin:0;
}

hr
{
	margin: 10px;
	padding: 0;
	height: 5px;
	background: black;
}

.container li
{
	text-align: justify;
	text-indent: 20px;
	padding: 0px 0px;
	margin: 0;
	font-size: 10px;
}

code
{
	font-size: 7px;
	line-height: 2px;
	padding: 0px 0px;
	margin: 0;
}

caption
{
	text-align: right;
	font-weight: bold;
	padding: 5px 0px;
}

table
{
	color: black;
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 10px;
}

th, td
{
	text-align: center;
	border: 1px solid black;
	padding: 2px 5px;
}

.vertical_header {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    transform: rotate(-90deg);
    
}
.vertical_header:before {
    content:'';
    padding-top:110%;
    display:inline-block;
    vertical-align:middle;
}

table.start td {
	vertical-align: top;
	text-align: start;
}

table.ogl td {
	vertical-align: bottom;
	white-space: nowrap;
	text-overflow: clip;
	overflow: hidden;
}

table.ogl tr > td {
	text-align: start;
}

table.ogl tr td ~ td {
	text-align: center;
}

table.noborder td, table.noborder th, td.noborder {
	border: 0;
}

td > div {
	display: flex;
}

span.dots {
	font-size: 12px;
}

img
{
	display: flex;
	margin: 5px auto;
}

.paragraph
{
	text-align: justify;
	text-indent: 20px;
	line-height: 1.3;
}

.expressions
{
	margin: 5px;
	text-align: center;
}	
	
.code
{
	margin: 5px 0;
	line-height: 1.3;
	text-align: left;
	width: 412;
}

.picture_number
{
	text-align: center;
	font-weight: bold;
	margin: 2px;
	font-size: 9px;
}

span
{
	display: inline-block;
}

.vert_span {
	transform: rotate(-90deg);
	display: flex;
	flex: auto;
	align-content: center;
	align-items: center;
}

.vert_span_div {
	display: flex;
	flex-direction: column;
	width: 15px;
}

.two_tables {
	display:flex;
	justify-content: center;
	margin: 5px;
}

.two_tables div:not(:nth-of-type(1)) {
	margin-left: 10px;
}

li.decimal {
	list-style-type: decimal;
}

ol {
	list-style-position: inside;
	padding: 0;
	margin: 0;
	counter-reset: list1;
}

ol li {
	list-style-type: none;
}

ol li:before {
    counter-increment: list1; /* Увеличиваем значение счетчика */
    content: counter(list1) ". "; /* Выводим число */
}

ol ol { counter-reset: list2;} /* Инициируем счетчик вложенного списка */

ol ol li:before {
    counter-increment: list2; /* Увеличиваем значение счетчика вложенного списка */
    content: counter(list1) "." counter(list2) ". "; /* Выводим число */
}

h1 {
	margin: 10px;
	text-align: center;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	margin: 10px;
	text-align: center;
	font-size: 11px;
}

h3 {
	margin: 10px;
	text-align: center;
	font-size: 10px;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.font_7 {
	font-size: 7px;
}

.font_8 {
	font-size: 8px;
}

.font_9 {
	font-size: 9px;
}

.font_10 {
	font-size: 10px;
}

.justify {
	text-align: justify;
}

.logo
{
	width: 60px;
	height: 40px;
	margin: 10px auto;
}

/* Кнопки вперед и назад */

.navigation {
	position: fixed;
	display: inline;
	bottom: 1px;
	right: 1px;
}

.navigation button
{
	background: #2A4480;
    border: 1px solid #8b8c8e;
    box-sizing: border-box;
    border-radius: 0px;
    color: white;
    font-size: 10px;
    padding: 0.5vh;
    margin: 0;
    outline: none;
    opacity: 100%;
    transition: 0.3s;
}

.navigation button:not(:disabled):hover {
	border: 1px solid white;
    cursor: pointer;
    transition: 0.3s;
}