
#paragraph_1
{
	text-align: center;
	margin-top: 110px;
}

#paragraph_2
{
	text-align: center;
	margin-top: 10px;
}

#paragraph_3
{
	text-align: center;
	margin-top: 15px;
}


#paragraph_4
{
	text-align: center;
	margin-top: 12px;
}

#paragraph_5
{
	text-align: center;
	margin-top: 20px;
}

#paragraph_6
{
	text-align: center;
	margin-top: 25px;
	font-size: 7px;
}

#paragraph_7
{
	text-align: center;
	margin-top: 10px;
	font-size: 7px;
}
